[submodule "common/.i3/dex"]
	path = common/.i3/dex
	url = git@github.com:jceb/dex.git
[submodule "common/.vim/bundle/syntastic"]
	path = common/.vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "common/.vim/bundle/jedi-vim"]
	path = common/.vim/bundle/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
[submodule "common/.vim/bundle/supertab"]
	path = common/.vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "common/.vim/bundle/vim-indent-guides"]
	path = common/.vim/bundle/vim-indent-guides
	url = http://github.com/nathanaelkane/vim-indent-guides.git
